@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
*
{
    padding: 0;
    margin: 0;
}
body
{
  /* background-image: linear-gradient(to bottom right,#fff ,#fff,#fff, rgb(207, 207, 207) ); */
  /* background-color: rgb(238, 238, 238); */
  min-height: 100vh;
}
/*navigation bar*/
nav{
    position: fixed;
    background-image: linear-gradient(to right,#1D976C,#93F9B9);
    height: 10vh;
    width: 100%;
    top:0;
    z-index: 1000;
  }
  label.logo{
    color: white;
    font-size: 1.5em;
    line-height: 60px;
    font-weight: bold;
    padding: 0 70px;
  }
 
   nav ul{
    float: right;
    margin-right: 20px;
  }
   nav ul li{
    display: inline-block;
    /* line-height: 80px; */
    margin: 3vh 2px;
  }
   nav ul li a{
    color: white;
    background: rgba(0,0,0,0.15);
    font-size: 0.80em;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
  }
  nav a.active,nav a:hover{
    background: rgb(13, 160, 86);
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  .logo img{
    margin-top: 0.5%;
    left: 0;
    width: 3%;
    background-color: white;
    border-radius: 50%;
    
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    .stk nav ul li a{
      font-size: 16px;
    }
    .nav
    {
      position: fixed;
      background:lightblue;
      height: 66px;
      width: 100%;
      top:0;
      z-index: 1000;
    }
  }
  @media (max-width: 858px){
    .stk
    {
      background: linear-gradient(#00B4DB,#0083B0);
    }
    
    .checkbtn{
      display: block;
    }
    nav ul{
      position: fixed;
      padding: 0;
      width: 100%;
      height: 100vh;
      background: linear-gradient(#00B4DB,#0083B0);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
     nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
     nav ul li a{
      font-size: 20px;
    }
    nav a:hover,nav a.active{
      background: none;
      color: #0c2b4e;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .logo img
    {
      width: 15%;
    }
  }
  form
  {
      margin-top: 20vh;
  }
  #res
  {
      padding-top: 2vh;
      padding-bottom: 1vh;
      padding-left: 4vw;
      padding-right: 4vw;
      text-align: center;
      font-size: 1.2em;
      border: none;
      border-bottom: 2px solid rgb(77, 230, 158);
      
  }
  .butn
{
    margin-top: 3vh;
  padding-top: 2vh;
  padding-left: 3vw;
  padding-bottom: 2vh;
  padding-right: 3vw;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right,#007991,#78ffd6);
  color: #fff;
  box-shadow: 0 5px 30px rgba(0,0,0,0.4);
  font-weight: bold;
}
.join
{
    display: flex;
    /* margin-top: 10vh; */
}
.join div
{
    width: 33.33vw;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1.35em;
    font-weight: bold;
}
.d1
{
    background-color: #99fadd;
}
.d2
{
    background-color: #58f3ab;
}
.d3
{
    background-color: #39fa32;
}
.d4
{
    background-color: #ff3401;
}
